
.NouvelleRow {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.NouvelleContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: #eee;
    border-radius: 6px;
}

.NouvelleContainer .cmdIcon {
    display: none;
}

.NouvelleContainer:hover .cmdIcon {
    display: block;
}

.NouvelleLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.Bookmark {
    display: grid;
    grid-template-columns: 30px auto;
}

.NouvelleTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.NouvelleCategory {
    color: dodgerblue !important;
}

.NouvelleCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.BookmarkdeleteForm {
    margin: 20px;
}
